{% extends 'towit/base.html' %}

{% block head %}
    <style>
        .bot-1em{
            margin-bottom: 1em;
        }
    </style>
{% endblock %} 

{% block nav %}
    <li><a href="/towit/contacts/">Contacts</a></li>
    <li><a href="/towit/trailers/">Trailers</a></li>
    <li><a href="/towit/contracts/">Contracts</a></li>
{% endblock %}     
	
{% block content %}
    <div class="row">
        <div class="card col-6">
            <div class="card-header">
            Interested contacts
            </div>
                <ul class="list-group list-group-flush">
                    {% for contact in contacts %}
                        <li class="list-group-item"><a href="/towit/contact/{{ contact.id }}">{{ contact.name }}</a> {{ contact.interest_date }}</li>
                    {% endfor %}
                </ul>
        </div>   
        <div class="card col-6">
	        <div class="card-header">
	        Closest Maintenances
	        </div>
				<ul class="list-group list-group-flush">
				    {% for maintenance in maintenances %}
				        <li class="list-group-item"><a href="/towit/trailer/{{ maintenance.trailer.id }}#maintenance_section">{{ maintenance.trailer }}</a> {{ maintenance.date }}</li>
				    {% endfor %}
				</ul>
        </div>        
    </div>
    <div class="row bot-1em">
    </div>    
    <div class="row">
        <div class="card col-6">
            <div class="card-header">
            Ending contracts
            </div>
                <ul class="list-group list-group-flush">
                    {% for contract in contracts %}
                        <li class="list-group-item"><a href="/towit/contract/{{ contract.id }}">{{ contract.trailer.name }}</a> {{ contract.contract_end_date }}</li>
                    {% endfor %}
                </ul>
        </div>   
        <div class="card col-6">
            <div class="card-header">
            Free trailers
            </div>
                <ul class="list-group list-group-flush">
                    {% for trailer in trailers %}
                        {% if trailer.status.name == "Free" %}
                            <li class="list-group-item"><a href="/towit/trailer/{{ trailer.id }}">{{ trailer.name }}</a> {{ trailer.type }} {{ trailer.size }}'</li>
                        {% endif %}
                    {% endfor %}
                </ul>
        </div>        
    </div>
{#    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=America%2FHavana&src=dmxhZGltaXIucmRndWV6QGdtYWlsLmNvbQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZXMubWV4aWNhbiNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%237986CB&color=%2333B679&color=%230B8043&mode=WEEK&showTitle=0&showDate=0&showPrint=0&showTz=1" style="border:solid 1px #777" width="100%" height="600" frameborder="0" scrolling="no"></iframe>#}
{% endblock %} 