{% extends 'towit/base.html' %}

{% load static %}

{% block head %}
    <!-- MDBootstrap Datatables  -->
    <link href="{% static '/css/compiled-4.20.0.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/datatables.min.css' %}" rel="stylesheet">
    <style>
	    table.dataTable thead .sorting:after,
	    table.dataTable thead .sorting:before,
	    table.dataTable thead .sorting_asc:after,
	    table.dataTable thead .sorting_asc:before,
	    table.dataTable thead .sorting_asc_disabled:after,
	    table.dataTable thead .sorting_asc_disabled:before,
	    table.dataTable thead .sorting_desc:after,
	    table.dataTable thead .sorting_desc:before,
	    table.dataTable thead .sorting_desc_disabled:after,
	    table.dataTable thead .sorting_desc_disabled:before {
	    bottom: .5em;
	    }
	    a {
	    text-decoration: underline;
	    }
	    .circle{       
	        margin-top: 12px;
	        height: 25px;
	        width: 25px;
	        border: 1px solid #45B4FE;
	        border-radius: 50%;
	        display: inline-block;
	        /* color: red; */
	        background-color: #cae3f9;
	    }
	    .circle-plus{
	        position: relative;
	        background-color: #45B4FE;
	        width: 50%;
	        height: 12.5%;
	        left: 25%;
	        top: 43.75%;
	    }
	    .vertical-plus{
	        position: relative;
	        background-color: #45B4FE;
	        width: 21.5%;
	        height: 399%;
	        left: 40.75%;
	        top: -127.5%;
	    }
    </style>
    <!-- MDBootstrap Datatables  -->
    <script type="text/javascript" src="{% static '/js/datatables.min.js' %}"></script>
    <script>
		$(document).ready(function () {
		$('#trailersTable').DataTable({
		"order": [[ 3, "desc" ]]
		});
		$('.dataTables_length').addClass('bs-select');
		});
	</script>
{% endblock %} 
	
{% block content %}
    <h3 class="mt-3">
        Trailers
        <a href="../new_trailer/">
		    <div class="circle">
		        <div class="circle-plus">
		            <div class="vertical-plus"> 
		            </div>  
		        </div>
		    </div>
		</a>
    </h3>
    
    <hr class="mt-0 mb-4">
    
	<table id="trailersTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
	  <thead>
	    <tr>
	      <th class="th-sm">Name
	      </th>
	      <th class="th-sm">Type
	      </th>
	      <th class="th-sm">Size
	      </th>
	      <th class="th-sm">Owner
	      </th>
	      <th class="th-sm">Status
	      </th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for trailer in trailers %}
	        <tr>
			  <td> <a href="../trailer/{{ trailer.id }}"> {{ trailer.name }} </a></td>
			  <td> {{ trailer.type }}</td>
			  <td> {{ trailer.length }}'</td>
			  <td> {{ trailer.owner }}</td>
			  <td> {{ trailer.status }}</td>
	        </tr>	    
        {% endfor %}
	  </tbody>
	  <tfoot>
	    <tr>
	      <th class="th-sm">Name
          </th>
          <th class="th-sm">Type
          </th>
          <th class="th-sm">Size
          </th>
          <th class="th-sm">Owner
          </th>
          <th class="th-sm">Status
          </th>
	    </tr>
	  </tfoot>
	</table>
{% endblock %} 