{% extends 'towit/base.html' %}

{% load static %}

{% block head %}
    <style>
    .hidden{
        visibility: hidden;
    }
    </style>
    
    <script>
       function myFunction() {
          /* Get the text field */
          let imgs =  document.getElementsByClassName("d-block");
        
          /* Select the text field */
          let urls = "";
          
          for (let item of imgs) {
			    urls += item.src + "\n";
		  }
          
          console.log(urls);
        
          /* Copy the text inside the text field */
          navigator.clipboard.writeText(urls);
          
          /* Alert the copied text */
          alert("Gallery copied to clipboard");
        }
        
        function deletePicture() {
			$('.carousel').carousel({
				  pause: true
				});
			let confirmAction = confirm("Are you sure to delete the current picture?");
			if (confirmAction) {
			     const img = $(".active.carousel-item")[0];
			     window.location = "/towit/delete_trailer_image/"+img.id;
			} else {			 
	            $('.carousel').carousel({
	                  pause: "hover"
	                });
			}
        }
    </script>
{% endblock %} 
	           
{% block nav %}
    <li><a href="/towit/trailers/">Trailers</a></li>
{% endblock %} 

{% block content %}    
    <h3 class="mt-3">Trailer <b> {{ trailer.name }} </b>
      <a href="/towit/update_trailer/{{ trailer.id }}">
        <button class="btn btn-primary data-toggle="tooltip" data-placement="left" title="Edit trailer"">
            <i class="fa fa-pencil"></i>
        </button>
      </a>
      <a href="/towit/delete_trailer/{{ trailer.id }}">
        <button class="btn btn-danger float-right data-toggle="tooltip" data-placement="left" title="Delete trailer"">
            <i class="fa fa-trash"></i>
        </button>
      </a>
    </h3>    
    <hr class="mt-0 mb-4">
    
    <!-- Specifications -->
    <h4 class="mt-3">Specifications </b></h4>  
    <hr class="mt-0 mb-4">
	<div class="row">
	  <div class="col-6 col-md-5">VIN: <b> {{ trailer.vin }} </b></div>
	  <div class="col-6 col-md-3">Size: <b> {{ trailer.length }}' </b></div>
	  <div class="col-6 col-md-4">Type: <b> {{ trailer.type }} </b></div>
	</div>
    <div class="row">
      <div class="col-6 col-md-5">Ramps: <b> {{ trailer.get_ramps_material_display }} </b></div>
      <div class="col-6 col-md-3">Axles: <b> {{ trailer.number_of_axles }} </b></div>
      <div class="col-6 col-md-4">Bed: <b> {{ trailer.get_bed_type_display }} </b></div>
    </div>
    <div class="row">
      <div class="col-6 col-md-5">Model: <b> {{ trailer.model }} </b></div>
      <div class="col-6 col-md-3">Tires: <b> {{ trailer.get_current_tires_condition_display }} </b></div>
      <div class="col-6 col-md-4">Color: <b> {{ trailer.color }} </b></div>
    </div>

    <!-- Legal matters -->
    <h4 class="mt-3">Legal matters </b></h4>  
    <hr class="mt-0 mb-4">
    <div class="row">
        {% load humanize %}
      <div class="col-6 col-md-5">Tax Price: <b> ${{ trailer.tax_price|intcomma }} </b></div>
      <div class="col-6 col-md-3">Tax: <b> ${{ tax|intcomma }} </b></div>
      <div class="col-6 col-md-4">Price: <b> ${{ trailer.price|intcomma }} </b></div>
    </div>
    <div class="row">
      <div class="col-6 col-md-5">Legal owner: <b> {{ trailer.Legal_owner }} </b></div>
      <div class="col-6 col-md-3">Owner: <b> {{ trailer.owner }} </b></div>
      <div class="col-6 col-md-4">Plate: <b> {{ trailer.plate }} </b>      
        {% if trailer.plate_stage == 1 %}
           (T)
        {% endif %}
      </div>
    </div>
    <div class="row">
        <div class="col-6 card">            
            <div class="card-header">
		        Title: 
		        {% if trailer.title_file != "" %}
{#		            <a href="{{ trailer.title_file.url }}"><b> {{ trailer.title }} </b></a>#}
                    <a href=""><b> {{ trailer.title }} </b></a>
		        {% else %}
		            <b> {{ trailer.title }} </b>
		        {% endif %}
            </div>
			  <div class="card-body">
			        {{ trailer.title_note }}
			  </div>
        </div>   
        <div class="col-6 card">     
            <div class="card-header">
	            Sticker: 
	            {% if trailer.sticker_file != "" %}
{#                  <a href="{{ trailer.sticker_file.url }}"><b> {{ trailer.sticker }} </b></a>#}
                    <a href=""><b> {{ trailer.sticker }} </b></a>
	            {% else %}
	                <b> {{ trailer.sticker }} </b>
	            {% endif %}             
            </div>
		      <div class="card-body">
		        {{ trailer.sticker_note }}
		      </div>
        </div>    
    </div>    

    <!-- Maintenance -->
    {% if maintenance != "" %}
	    <h4 class="mt-3">Maintenance</b>
	        <a href="/towit/maintenances/{{ trailer.id }}">
		        <button class="btn btn-primary data-toggle="tooltip" data-placement="left" title="Copy to clipboard"">
		            <i class="fa fa-wrench"></i>
		        </button>
		    </a>
	    </h4>  
	    <hr class="mt-0 mb-4">
	    <div class="row card">    
	        <div class="card-header row">
                    <div class="col-6">   
                        Status:  <b> {{ maintenance.status }} </b>
	                </div>
                    <div class="col-6">  
                        {{ maintenance.date }}
                    </div>
	        </div>
			<div class="card-body">
			    {{ maintenance.comments }}
			</div>
	    </div>  
    {% endif %}  
    
    
    <!-- Gallery -->    
    <h4 class="mt-3">Gallery </b>
        <button onclick="myFunction()" class="btn btn-primary data-toggle="tooltip" data-placement="left" title="Copy to clipboard"">
		    <i class="fa fa-clipboard"></i>
	    </button>
        <button onclick="deletePicture()" class="btn btn-danger float-right data-toggle="tooltip" data-placement="left" title="Remove current picture"">
            <i class="fa fa-trash"></i>
        </button>
    </h4>  
    <hr class="mt-0 mb-4">
    
    <div id="carouselTrailerPictures" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
	   {% for img in images %}
            <li data-target="#carouselTrailerPictures" data-slide-to="{{ forloop.counter0 }}"></li>
       {% endfor %}
	  </ol>
	  <div class="carousel-inner">
	   {% for img in images %}	       
		    <div id={{ img.id }} class="carousel-item 
		    {% if forloop.counter0 == 0 %}
               active
            {% endif %} ">
{#		      <img class="d-block w-100" src="{{ img.image.url }}" alt="Slide">#}
		    </div>
	   {% endfor %}
	  <a class="carousel-control-prev" href="#carouselTrailerPictures" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselTrailerPictures" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
{% endblock %} 