{% extends 'towit/base.html' %}

{% load static %}
{% load tz %}

{% block head %}
    <style>
    .hidden{
        visibility: hidden;
    }
	.dot {
	  height: 1em;
	  width: 1em;
	  background-color: {{trailer.color.code}};
	  border-radius: 50%;
	  display: inline-block;
	  padding-top:5px;
	}
	.bottom-space {
	    margin-bottom: 1em;
	}

	#trigger {
	  display: none;
	}
	.checker {
        object-fit: cover;
        object-position: center;
        height: 200px;
        width: 200px;
      }
    {% for img in images %}   
		#trigger-{{ img.id }}:checked + .img-border {
		  border:3px solid blue;
		}
	{% endfor %}
    </style>
        
    <script>
    
        function getSelectedImages(){
          /* Get the text field */
          let imgs =  document.getElementsByClassName("img-cb");
        
          /* Select the text field */
          let urls = "";
          
          for (let item of imgs) {
                if(item.checked){
                    urls += item.value + ",";
                }
          }
          return urls
        }
    
        function shareImages() {  
            let imgs = getSelectedImages();
            if (imgs.length > 0){
                window.open("/towit/share_images/"+imgs, '_blank');   
            } else {
                alert("Please, select at least one picture!")
            }
        }
        
        function deletePictures() {        
            let imgs = getSelectedImages();
            if (imgs.length > 0){
				let confirmAction = confirm("Are you sure to delete the selected pictures?");
				if (confirmAction) {
				     window.location = "/towit/delete_trailer_images/"+imgs;
				}
            } else {
                alert("Please, select at least one picture!")
            }
        }
        
        function deleteTrailer() {
            let confirmAction = confirm("Are you sure to delete the current trailer?");
            if (confirmAction) {
                 window.location = "/towit/delete_trailer/{{ trailer.id }}";
            }
        }
        
        function deleteTracker() {
            let confirmAction = confirm("Are you sure to delete the tracker?");
            if (confirmAction) {
                 window.location = "/towit/delete_tracker/{{ tracker.id }}";
            }
        }
    </script>
{% endblock %} 
	           
{% block nav %}
    <li><a href="/towit/trailers/">Trailers</a></li>
{% endblock %} 

{% block content %}    
    <h3 class="mt-3">Trailer <b> {{ trailer.name }} </b>
      <a href="/towit/update_trailer/{{ trailer.id }}">
        <button class="btn btn-primary data-toggle="tooltip" data-placement="left" title="Edit trailer"">
            <i class="fa fa-pencil"></i>
        </button>
      </a>      
    {% if trailer.status.name != "Rented" %}
	    <a href="/towit/new_lessee/trailer/{{ trailer.id }}">
	        <button class="btn btn-primary data-toggle="tooltip" data-placement="left" title="Rent this trailer"">
	            RENT
	        </button>
	    </a>
	{% endif %}
	    <button onclick="deleteTrailer()" class="btn btn-danger float-right data-toggle="tooltip" data-placement="left" title="Delete trailer"">
	        <i class="fa fa-trash"></i>
	    </button>
    </h3>    
    <hr class="mt-0 mb-4">
    
    <!-- Tracker -->
    <h4 class="mt-3">Tracking </b>
        {% if tracker %}
            <a href="/towit/update_tracker/{{ tracker.id }}">
		        <button onclick="shareImages()" class="btn btn-primary data-toggle="tooltip" data-placement="left" title="Copy to clipboard"">
		            <i class="fa fa-pencil"></i>
		        </button>
            </a>   
        {% else %}
	        <a href="/towit/new_tracker/{{ trailer.id }}">
	            <button class="btn btn-primary data-toggle="tooltip" data-placement="left" title="Edit trailer"">
	                <i class="fa fa-plus"></i>
	            </button>
	        </a>   
	    {% endif %}
        <button onclick="deleteTracker()" class="btn btn-danger float-right data-toggle="tooltip" data-placement="left" title="Remove current picture"">
            <i class="fa fa-trash"></i>
        </button>
    </h4>  
    <hr class="mt-0 mb-4">
    {% if tracker %}
        <div class="col-12 text-center">Updated: <b> {{ tracker.last_update|localtime }} </b></div>
	    <div class="row text-center">
	       <div class="col-6 col-md-6">
	           <a href="http://maps.google.com/maps?f=q&q={{ tracker.latitude }},{{ tracker.longitude }}&z=16">
	               <i class="fa fa-map-marker"></i> 
	               lat: {{ tracker.latitude|floatformat:2 }}°, lon: {{ tracker.longitude|floatformat:2 }}° 
	           </a>
	       </div>
	      <div class="col-6 col-md-6">Credit: <b> ${{ tracker.line_credit|floatformat:2 }} </b></div>
	    </div>
    {% endif %}
    
    <!-- Specifications -->
    <h4 class="mt-3">Specifications </b></h4>  
    <hr class="mt-0 mb-4">
	<div class="row">
	  <div class="col-6 col-md-5">VIN: <b> {{ trailer.vin }} </b></div>
	  <div class="col-6 col-md-3">Size: <b> {{ trailer.size }}' </b></div>
	  <div class="col-6 col-md-4">Type: <b> {{ trailer.type }} </b></div>
	</div>
    <div class="row">
      <div class="col-6 col-md-5"><b>{{ trailer.number_of_ramps }}</b> ramps, <b>{{ trailer.get_ramps_length_display }}'</b> length</div>
      <div class="col-6 col-md-3">Axles: <b> {{ trailer.get_number_of_axles_display }} </b></div>
      <div class="col-6 col-md-4">Bed: <b> {{ trailer.get_bed_type_display }} </b></div>
    </div>
    <div class="row">
      <div class="col-6 col-md-5">Material: <b> {{ trailer.get_ramps_material_display }} </b></div>
      <div class="col-6 col-md-3">Tires: <b> {{ trailer.get_current_tires_condition_display }} </b></div>
      <div class="col-6 col-md-4">Color: <span class="dot"></span> <b> {{ trailer.color }} </b></div>
    </div>

    <!-- Legal matters -->
    <h4 class="mt-3">Legal matters </b></h4>  
    <hr class="mt-0 mb-4">
    <div class="row">
        {% load humanize %}
      <div class="col-6 col-md-5">Tax Price: <b> ${{ trailer.tax_price|intcomma }} </b></div>
      <div class="col-6 col-md-3">Tax: <b> ${{ tax|intcomma }} </b></div>
      <div class="col-6 col-md-4">Price: <b> ${{ trailer.price|intcomma }} </b></div>
    </div>
    <div class="row bottom-space">
      <div class="col-6 col-md-5">Legal owner: <b> {{ trailer.Legal_owner }} </b></div>
      <div class="col-6 col-md-3">Owner: <b> {{ trailer.owner }} </b></div>
      <div class="col-6 col-md-4">Plate: <b> {{ trailer.plate }} </b>      
        {% if trailer.plate_stage == 1 %}
           (T)
        {% endif %}
      </div>
    </div>
    <div class="row">
        <div class="col-6 card">            
            <div class="card-header">
		        Title: 
		        {% if trailer.title_file != "" %}
{#		            <a href="{{ trailer.title_file.url }}"><b> {{ trailer.title }} </b></a>#}
		        {% else %}
		            <b> {{ trailer.title }} </b>
		        {% endif %}
            </div>
			  <div class="card-body">
			        {{ trailer.title_note }}
			  </div>
        </div>   
        <div class="col-6 card">     
            <div class="card-header">
	            Sticker: 
	            {% if trailer.sticker_file != "" %}
{#                  <a href="{{ trailer.sticker_file.url }}"><b> {{ trailer.sticker }} </b></a>#}
	            {% else %}
	                <b> {{ trailer.sticker }} </b>
	            {% endif %}             
            </div>
		      <div class="card-body">
		        {{ trailer.sticker_note }}
		      </div>
        </div>    
    </div>    

    <!-- Maintenance -->
    <h4 id="maintenance_section" class="mt-3">Maintenance</b>
        <a href="/towit/maintenances/{{ trailer.id }}">
	        <button class="btn btn-primary data-toggle="tooltip" data-placement="left" title="Copy to clipboard"">
	            <i class="fa fa-wrench"></i>
	        </button>
	    </a>
    </h4>  	    
    {% if maintenance != "" %}
	    <hr class="mt-0 mb-4">
	    <div class="row card">    
	        <div class="card-header row">
                    <div class="col-6">   
                        Status:  <b> {{ maintenance.status }} </b>
	                </div>
                    <div class="col-6">  
                        {{ maintenance.date }}
                    </div>
	        </div>
			<div class="card-body">
			    {{ maintenance.comments }}
			</div>
	    </div>  
    {% endif %}  
    
    
    <!-- Gallery -->    
    <h4 id="gallery" class="mt-3">Gallery </b>
        <button onclick="shareImages()" class="btn btn-primary data-toggle="tooltip" data-placement="left" title="Copy to clipboard"">
		    <i class="fa fa-share"></i>
	    </button>
		<a href="/towit/new_picture/{{ trailer.id }}">
			<button class="btn btn-primary data-toggle="tooltip" data-placement="left" title="Edit trailer"">
			    <i class="fa fa-plus"></i>
			</button>
		</a>   
        <button onclick="deletePictures()" class="btn btn-danger float-right data-toggle="tooltip" data-placement="left" title="Remove current picture"">
            <i class="fa fa-trash"></i>
        </button>
    </h4>  
    <hr class="mt-0 mb-4">
    <div class="row col-12">
    {% for img in images %}        
	    <div class="col-6 col-md-4 text-center">
			<input value={{ img.id }} id="trigger-{{ img.id }}" type="checkbox" style="display: none;" class="img-cb">
			<label for="trigger-{{ img.id }}" class="img-border">
			    <img class="checker" src="{{ img.image.urls }}" alt="Trailer picture">
			</label>
	    </div>
    {% endfor %}
    </div>  
{% endblock %} 